name: CPE Dictionary Test

on: [push, pull_request]

jobs:
  cpe-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: '14'
    - name: Perform CPE Dictionary Test
      run: ./csaf_2.0/test/cpe/run_tests.sh
